
.abwasserrechner {
  font-family: neue-kabel, sans-serif;
  --blue: #0A4A88;
  --grey: #C6C6C6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-description {
  display: block;
  font-size: 35px;
  font-weight: bold;
  margin: 25px 0px 15px 0px;
}

.button-group {
  display: flex;
  flex-direction: row;
}
.button-group > button:first-child {
  margin-left: 0;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.image-container-grey {
  background-color: var(--grey);
  outline: none;
  border: none;
  margin-left: 7px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 200ms;
}
.image-container-grey3 {
  background-color: var(--grey);
  outline: none;
  border: none;
  margin-left: 7px;
  width: 167px;
  height: 167px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 200ms;
}

.clicked {
  background-color: var(--blue);
}

#one-person {
  background-image: url("./images/1_Person.svg");
}
#two-persons {
  background-image: url("./images/2_Personen.svg");
}
#three-persons {
  background-image: url("./images/3_Personen.svg");
}
#four-persons {
  background-image: url("./images/4_Personen.svg");
}

.entleerungen {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
}

.nutzbereiche img {
  width: 80px;
  height: 80px;
}

.number-input-group {
  width: 341px;
  height: 60px;
  margin-top: 12px;
  padding-left: 5px;
  background-color: var(--blue);
  box-sizing: border-box;
}

.number-input {
  width: 281px;
  height: 60px;
  padding: 0 15px 0 15px;
  background-color: var(--blue);

  font-family: neue-kabel, sans-serif;
  font-size: 30px;
  color: #fff;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.number-input::placeholder {
  color: #8B96B5;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
}

#dachart {
  width: 341px;
  height: 60px;
  margin-top: 12px;
  padding: 0 15px 0 15px;
  background-color: var(--blue);

  font-family: neue-kabel, sans-serif;
  font-size: 30px;
  color: #fff;
  border: none;
  box-sizing: border-box;
}

.fläche {
  font-size: 25px;
  color: #fff;
}

.plz {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}
#plz-input {
  width: 130px;
  text-align: center;
}
#plz-text {
  align-self: center;
  font-size: 30px;
  font-weight: bold;
  margin-right: 25px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
#tankimg {
  border: solid 5px var(--blue);
  box-sizing: border-box;
  width: 410px;
  height: 273px;
}
#tankname {
  font-size: 21px;
  font-weight: bold;
  font-family: neue-kabel, sans-serif;
  color: #ffffff;
}
#result-button {
  padding: 9px 30px;
  margin: 30px 10px 30px 10px;
  border: none;
  border-radius: 100px;
  background-color: var(--blue);
  transition: background-color 200ms;
}
#result-button:hover {
  background-color: #073059;
}
#result-button a {
  text-decoration: none;
}
.berechnungen {
  display: flex;
  flex-direction: column;
}
#preis-anzeige,
#ertrag,
#verbrauch,
#speichergröße {
  color: grey;
  font-size: 16px;
}


@media only screen and (max-width: 900px) {
  .abwasserrechner {
    flex-direction: column;
  }

  .result {
    margin-left: 0;
    margin-top: 75px;
  }

  #tankimg {
    width: 341px;
    height: 227px;
  }

  #result-button {
    max-width: 341px;
  }

  #tankname {
    font-size: 19px;
  }
}
