
.abwasserrechner {
  font-family: neue-kabel, sans-serif;
  --blue: #0A4A88;
  --grey: #C6C6C6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-description {
  display: block;
  font-size: 35px;
  font-weight: bold;
  margin: 40px 0px 15px 0px;
}

.button-group {
  display: flex;
  flex-direction: row;
}
.button-group > button:first-child {
  margin-left: 0;
}

.image-container-grey,
.image-container-grey2,
.image-container-grey3 {
  background-color: var(--grey);
  outline: none;
  border: none;
  margin-left: 7px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 200ms;
}

.clicked {
  background-color: var(--blue);
}

#one-person {
  background-image: url("./images/1_Person.svg");
}
#two-persons {
  background-image: url("./images/2_Personen.svg");
}
#three-persons {
  background-image: url("./images/3_Personen.svg");
}
#four-persons {
  background-image: url("./images/4_Personen.svg");
}

.entleerungen {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
}

.nutzbereiche img {
  width: 50px;
  height: 50px;
}

#number-input {
  width: 341px;
  height: 50px;
  font-family: neue-kabel, sans-serif;
  font-size: 30px;
  color: var(--grey);
  text-align: center;
  border: solid 3px var(--grey);
  box-sizing: border-box;
  transition: border 100ms, color 100ms;
}
#number-input:focus {
  border: solid 3px var(--blue);
  color: var(--blue);
  outline: none;
}


.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
#tankimg {
  border: solid 5px var(--blue);
  box-sizing: border-box;
  width: 410px;
  height: 410px;
}
#tankname {
  font-size: 21px;
  font-weight: bold;
  font-family: neue-kabel, sans-serif;
  color: #ffffff;
}
#result-button {
  padding: 9px 30px;
  margin: 30px 10px 30px 10px;
  border: none;
  border-radius: 100px;
  background-color: var(--blue);
  transition: background-color 200ms;
}
#result-button:hover {
  background-color: #073059;
}
#result-button a {
  text-decoration: none;
}


@media only screen and (max-width: 900px) {
  .abwasserrechner {
    flex-direction: column;
  }

  .result {
    margin-left: 0;
    margin-top: 75px;
  }

  #tankimg {
    width: 341px;
    height: 341px;
  }

  #result-button {
    max-width: 341px;
  }

  #tankname {
    font-size: 19px;
  }
}
